################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Library/Artifacts
/Library
/Temp/UnityLockfile
