################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Build
/Library/Artifacts
/Library
/Temp/UnityLockfile
/Temp
/Logs
/.vs
/obj
